/* added body type selector font family and line height for module 4 assignment */ 
body {
    background: linear-gradient(180deg, #1A1C1F 0%, #2A1A15 100%);
    color: #7FFFD4;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.6;
}
/* changed to rem for module 4 assignment */
nav img {
    width: auto;
    height: 4.375rem;
    margin-left: -1.125rem;
}
#hero {
    text-align: center;
}
/* changed to rem for module 4 assignment */ 
#nav { 
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 0.3125rem;
    margin: 0;
}
/* style links inside nav for module assignment 4 */ 
nav a {
    color: #7FFFD4;
    text-decoration: none;
    margin-left: 1rem;
}
/* adding hover for nav module 4 assignment*/ 
nav a:hover {
    color: #FF8C00;
}
#problem {
    text-align: center;
}
#solution {
    text-align: center;
}
#ebi {
    text-align: center;
}
/* changed to rem for module 4 assignment */ 
section {
    padding: 5rem 20%;
    border-bottom: 1px solid #E8580A;
}
/* combination selector style all headings together for module 4 assignment */
h1, h2 {
    letter-spacing: 0.05em;
    font-weight: 600;
}
/* 3-column layout for the how-it-works page */
#steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

